<% layout("/layouts/boilerplate.ejs") %>
<body>
  <%=success%>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1" style="margin-left: 1.25rem;">
    <% allListings.forEach(listing => { %>
    <a href="/listings/<%=listing._id%>" class="list-link">
    <div class="card col list-card">
      <img src="<%=listing.image%>" class="card-img-top" alt="list-image" style="height: 20rem;">
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <h5 class="card-title"><%=listing.title%></h5>
        <p class="card-text">&#8377; <%=listing.price.toLocaleString("en-IN")%>/night</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  </a>
  <% }) %>
  </div>  
</body>




  
